<div class=infoPais>
    <h2>@ViewBag.Pais.Nombre</h2>
    <img src= "@ViewBag.Pais.ImgBandera" alt ="Imagen de la bandera">
    <h3>Población: @ViewBag.Pais.Poblacion millones de habitantes</h3>
    <h3>Este país se independizó en el @ViewBag.Pais.FechaIndepencia.ToShortDateString()</h3>
    <h3>Una atracción turistica popular es @ViewBag.Pais.AtractivosTuristicos</h3>
</div>

